.newArriwal {
    display: flex;
    flex-direction: column;
    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 114px 30px 112px;
        span {
            font-family: 'Roboto Slab';
            font-weight: bold;
            font-size: 25px;
            line-height: 30px;
        }
        p {
            font-weight: 900;
            font-size: 14px;
            line-height: 20px;
        }
    }
    .newProducts {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        margin: 0 104px 70px 104px;
        .card {
            width: 263px;
            height: 370px;
        }
    }
}